html{
    position: relative;
    min-height: 100%;
}

.sidenav{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #5c085a; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    overflow:hidden;
    width:100%;
    text-align: center;
    background-color: rgb(191, 187, 190);
    padding: 10px 0px;
    margin: 5px 0;
   
}
main{
    transition: margin-left .5s;
    overflow:hidden;
    text-align: center;

    height: 950px;
  
}
body {
  overflow-x: hidden;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #5c085a;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: rgb(89, 7, 111);
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
a svg{
  transition:all .5s ease;
  &:hover{
    #transform:rotate(180deg);
  }
   
  

#ico{
  display: none;
}

.menu{
    background: #5e034a;
    display: none;
    padding: 5px;
    width: 320px;
   /* @include border-radius(5px);
    #transition: all 0.5s ease;*/
  

}
  
  a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #500244;
    &:nth-child(1){
      margin-top: 0;
      @include border-radius(3px 3px 0 0 );
    }
    &:nth-child(5){
      margin-bottom: 0;
      @include border-radius(0 0 3px 3px);
    }
    &:hover{
      background: #555;
    }
}
}
img{
   
    text-align: center;
    padding:auto;
    margin: auto;

}
div h1{
    color: white;
}
footer{
    width: 100%;
    padding: auto;
    margin: auto;
    background-color:  #5c085a;
    justify-content: center;
    align-items: center;
    display: flex;  
    
}
.logo{
    height: 88px;
    margin-bottom: 1rem;

}
.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid rgb(244, 240, 242);
    background-image: url(../img/facebook.png);
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    margin: 1rem;
}
.social-icon:hover{
    background-color: #5c085a;
    filter: invert(1);
}
.social-icon:nth-of-type(2){
    background-image: url(../img/ins.png);
}
.social-icon:nth-of-type(3){
    background-image: url(../img/whatsapp.png);
}
.social-icon:nth-of-type(4){
    background-image: url(../img/g.png);
}

.footer-menu-container{
    list-style-type: none;
    color: white;
    font-size: 18px;
}
.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
    color: white;
}
.menu-item:hover{
    opacity: 1;
}
.copyright{
    color: white;
    opacity: 0.3;
    text-align: center;
}
.icon-perfil-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

}
.icon-perfil{
    height: 250px;
    width: 250px;
    border-radius: 250px;
    border: 5px solid #5c085a;
    background-image: url(../img/perfil.jpg);
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

}

.nota-perfil{
    background-color:rgb(191, 187, 190);
    text-align: center;
    margin: 5px 5px ;
    opacity: 0.6;
    color:#5c085a;
    font-size: 35px;

}
section{
    display: flex;
}
/* Diseño de el main del ejercicio 1 */
#ejercicio-container{
    text-align: center;
    display: flex;
}
.result-container{
    height:675px;
    width: 750px;
    text-align: left;
    background-color: #f09cde;
    border-bottom: #818181;
    padding: 15px 15px;
    margin: 15px 15px;
    
    
}
.element-container-label{
    font-size: 20px;
    text-align: right;
    color: white;
    margin: 3px;
    padding: 3px;
}
.element-container-text{
    text-align: left;
    background-color: white;
    font-size: 20px;
    padding:3px ;
    margin: 3px;
  

}
.element-container-button{
    background-color: #5c085a;
    color: white;
    font-size: 30px;
    border-radius: 100px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.enunciado{
    background-color: #5c085a;
    color: white;
    font-size: 20px;
    text-align: justify;
    height: 675px;
    width: 750px;
    padding: 15px 15px;
    margin: 15px 15px;
}
#mensaje{
    color: white;
    font-size: 30px;
}
/* configutacino del ejercicio 2 */
.mensaje-result{
    color: white;
    font-size: 30px;
}
h2{
    color: white;
}
#container-result-ejercicios{
    background-color: #5c085a;
    border-color: #555;
}
#table-categoria{
    text-align: center;
    border: 2px;
   padding-top: 5px;
   padding-bottom: 10px;
   
}

